# Environment variables
.env

# Virtual environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Project specific Excel/PDF files with sensitive data
emails.xlsx
*.pdf
!sample_resume.pdf

# Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
